html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0 auto;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html{
    width: 100%;
    height: 100%;
    background: #ddd;
    color: #000;
}

body{
    min-width: 900px;
    width: 80%;
    font: 14px Arial, sans-serif;
}

.clear{
    clear: both;
}

.container{
    background: #fff;
    padding: 5px 0;
}

a {
    color: #00B7FF;
    text-decoration: none;
    outline:none;
    cursor:pointer;
}

p{
    text-indent: 25px;
    line-height: 1.5;
}

header{
    height: 38px;
    margin: 10px 0 0 0;
    background: #333;
    text-align: right;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.login{
    padding: 10px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    border-left: 2px solid #ffffff;
}

.login a{
    font-weight: bold;
    color: #fff;
}

.login a:hover,
.menu a:hover,
.menu_left a:hover,
footer a:hover{
    color: #bbb;
}

.menu{
    padding: 6px 0 9px 0;
    background: #1e84a3;
    text-align: center;
    color: #ddd;
}

.menu a,
footer a{
    font-weight: bold;
    color: #fff;
    margin: 0 6px;
}

.content{
    padding: 10px 20px;
}

.menu_left{
    float: left;
    width: 150px;
    background: #333;
    font-weight: bold;
    color: #ddd;
}

.menu_left li{
    padding: 5px;
    list-style: none;
    border-bottom: 1px solid #ffffff;
}

.menu_left a{
    color: #fff;
    margin: 0 6px;
    text-decoration: none;
}

#content_center{
    margin: 0 auto;
    min-width: 550px;
    width: 68%;
}

footer{
    margin: 0 0 10px 0;
    padding: 20px 0;
    background: #333;
    text-align: center;
    color: #ddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

label {
    margin:0;
    float: left;
    padding-right: 10px;
}

.form-group{
    clear:both;
    text-align:right;
    line-height:25px;
}

.main-form-group{
    float: left;
}

.form-horizontal{
    width: 300px;
    margin: 20px auto 0;
}

.control-label{
    font-weight: bold;
}

input[type="text"] {
    border:1px solid #1e84a3;
    font:1em Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    line-height:1em;
    background:none;
    outline:none;
}

textarea {
    background:none;
    border:1px solid #1e84a3;
    font:1em Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    overflow:hidden;
    outline:none;
    resize:none;
}

.form-horizontal input{
    border:1px solid rgba(255, 255, 255, 0.3);
    color:#ffffff;
    height:28px;
    padding:0 5px;
    margin:0 0 10px;
    background:#000000;
    opacity:0.7;
}

#contactform input{
    text-align: left;
    width: 225px;
}

#contactform textarea {
    border:1px solid rgba(255, 255, 255, 0.3);
    color:#ffffff;
    width: 300px;
    min-height:180px;
    padding:5px;
    margin:0 0 40px;
    background:#000000;
    opacity:0.7;
    filter:alpha(opacity=70);
    resize:vertical;
}

/*=================================Contact template start */
.contact-container {
    margin:0 auto 10px;
    padding:10px;
    width:400px;
    border:1px solid #aaa;
    color:#333;
    background-color:#eee;
}

.contact-container h1 {
    font-weight:normal;
}

.contact-container img {
    float:left;
    margin-right:10px;
    border:1px solid #fff;
    border-right-color:#aaa;
    border-bottom-color:#aaa;
}

.contact-container a {
    color:#333;
}

.contact-container dl {
    float:left;
}

.contact-container dt, .contact-container dd {
    float:left;
}

.contact-container dt {
    width:50px;
    clear:left;
}
/*===================================================Contact template end */