<div class="content_center1">

    <h1 id="title">Sign Up</h1>
    <p>It's free and always will be.</p>

    <form class="form-horizontal SingUp-form" name="SingUp-form">

        <div class="main-form-group">

            <div class="form-group">
                <label for="input-firstname" class="control-label">First Name:</label>
                <input name="firstname" value="firstname" type="text" class="form-control" id="input-firstname">
            </div>

            <div class="form-group">
                <label for="input-lastname" class="control-label">Last Name:</label>
                <input name="lastname" value="lastname" type="text" class="form-control" id="input-lastname">
            </div>

            <div class="form-group">
                <label for="input-login" class="control-label">Login:</label>

                <input name="login" value="login" type="text" class="form-control" id="input-login">
            </div>

            <div class="form-group">
                <label for="input-password" class="control-label">Password</label>
                <input name="password" value="pass" type="text" class="form-control" id="input-password">
            </div>

            <div class="form-group">
                <label for="input-email" class="control-label">Email</label>
                <input name="email" value="example@example.com" type="email" class="form-control" id="input-email">
            </div>

            <div class="form-group">
                <button id="create-button" type="submit" class="btn btn-primary" data-loading-text="Send...">Enter</button>
            </div>
        </div>

    </form>

</div>