<div class="content_center1">

    <form class="form-horizontal login-form" name="login-form" id="login-form">

        <div class="main-form-group">
            <div class="form-group">
                <label for="input-username" class="control-label">Name</label>
                <input name="username"  type="text" class="form-control" id="input-username" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="input-password" class="control-label">Password</label>
                <input name="password" value="pass" type="password" class="form-control" id="input-password" placeholder="Pass">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" data-loading-text="Send...">Enter</button>
            </div>
        </div>

    </form>

    <script>
        $(document.forms['login-form']).on('submit',function(){
            var form = $(this);

            $('.error',form).html('');
            $(':submit', form).button("loading");

            $.ajax({
                url: "/login",
                method: "POST",
                data: form.serialize(),
                complete: function () {
                    console.log('complete..');
                    $(":submit", form).button("reset");
                },
                statusCode: {
                    200: function(){
                        form.html  ("Welcome").addClass('alert-success');
                        window.location.href = "/chat";
                    },
                    404: function(jqXHR){
                        var error = JSON.parse(jqXHR.responseText);
                        $('.error',form).html(error.message);
                    }
                }
            });
            return false;
        });
    </script>
</div>